@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body-div{
    background-image: linear-gradient(150deg, rgb(10, 246, 235), rgb(25, 255, 121));
}

.myimage{
    width: auto;
    height: 300px;
}
.menu ul {
    list-style-type: none;  
    padding: 0; 
    margin: 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}


.menu ul a {
    padding: 10px; 
    background-color: white;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    
}

.menu ul a:hover{
    background-color: green;
    color: white;
    padding: 12px 24px;
    transition: 0.5s ease-in-out;
    font-size: 35px;
    
}

.img-heading-links:hover{
    transition: 0.9s ease-in-out;
}
.menu ul  a { 
    text-decoration: none; 
}



.img-heading-links{
    text-align: center;
}

.name{
    color: rgb(46, 49, 255);
}
.social-links ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.social-links ul a {
    padding: 10px;
}

.introduction{
    width: 600px;
    margin: 0 auto;
    text-align: justify;
    background-color: white;
    padding: 16px 32px;
    border-radius: 32px;
    
}
.dash{
  height: 30px;
 
}

.myimage{
    margin-top: 20px;
    border-radius: 300px;
}
.list-container{
    position: absolute;
    left: 90%;
    top: 30px;
    display: none;
}


@media screen and (max-width: 800px) {
    .menu {
      display: none;
    }

    .introduction{
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
        
    }
    .list-container{
      width: 50px;
         left: 80%; 
        display: block;
    }
   
  }


  /* menu button style */

  
  .list-container {
    position: relative;
  }
  .list-container.active .more-button-list {
    opacity: 1;
    transform: scale(1);
  }
  .list-container.active .more-button-list-item {
    animation: fadeInItem 0.6s 0.2s forwards;
  }
  .list-container.active .more-button-list-item:nth-child(2) {
    animation-delay: 0.4s;
  }
  .list-container.active .more-button-list-item:nth-child(3) {
    animation-delay: 0.6s;
  }
  .list-container.active .more-button-list-item:nth-child(4) {
    animation-delay: 0.8s;
  }
  .list-container.active .more-button {
    animation: onePulse 0.6s forwards linear;
  }
  .list-container.active .menu-icon-wrapper {
    transform: rotate(-45deg);
  }
  .list-container.active .menu-icon-line.first {
    transform: rotate(-90deg) translateX(1px);
  }
  .list-container.active .menu-icon-line.last {
    transform: rotate(-90deg) translateX(-1px);
  }
  .more-button {
    background-color: #5c67ff;
    box-shadow: 0px 0px 0px 4px rgba(92, 103, 255, 0.3);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: 0.2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    z-index: 2;
  }
  .more-button:hover, .more-button:focus {
    box-shadow: 0px 0px 0px 8px rgba(92, 103, 255, 0.3);
    background-color: #4854ff;
  }
  .more-button:focus {
    outline: 0;
  }
  .more-button-list {
    background-color: #fff;
    border-radius: 8px;
    list-style-type: none;
    width: 140px;
    height: 300px;
    box-shadow: 0px 0px 4px 4px rgba(150, 157, 249, 0.16);
    padding: 0;
    padding: 6px;
    position: absolute;
    left: -140px;
    bottom: 26;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
    transition: all 0.3s ease 0.1s;
  }
  .more-button-list a {
    opacity: 0;
    text-decoration: none;
  }
  .more-button-list-item {
    display: flex;
    align-items: center;
    color: #1c3991;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in;
    transform: translatex(-10px);
  }
  .more-button-list-item:hover {
    color: #5c67ff;
  }
  .more-button-list-item:after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 24px);
    left: 12px;
    bottom: 0;
    background-color: rgba(132, 160, 244, 0.1);
  }
  .more-button-list-item:last-child:after {
    display: none;
  }
  .more-button-list-item svg {
    width: 18px;
    height: 18px;
  }
  .more-button-list-item span {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    margin-left: 8px;
  }
  @keyframes onePulse {
    0% {
      box-shadow: 0px 0px 0px 0px rgba(92, 103, 255, 0.3);
    }
    50% {
      box-shadow: 0px 0px 0px 12px rgba(92, 103, 255, 0.1);
    }
    100% {
      box-shadow: 0px 0px 0px 4px rgba(92, 103, 255, 0.3);
    }
  }
  @keyframes fadeInItem {
    100% {
      transform: translatex(0px);
      opacity: 1;
    }
  }
  .socials {
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
  }
  .social-link {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin-right: 12px;
  }
  .menu-icon-wrapper {
    border-radius: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
  }
  .menu-icon-line {
    background-color: #fff;
    border-radius: 2px;
    width: 100%;
    height: 2px;
  }
  .menu-icon-line.half {
    width: 50%;
  }
  .menu-icon-line.first {
    transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
    transform-origin: right;
  }
  .menu-icon-line.last {
    align-self: flex-end;
    transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
    transform-origin: left;
  }
  